.cell {
    position: relative;
    margin-left: 1px;
    display: inline-block;
    height: inherit;
}

.cell.highlight {
    z-index: 1;
    filter: drop-shadow(0 0 10px white) drop-shadow(0 0 15px white);
}

.cell_content {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.cell_content .nomove {
    filter: saturate(.1);
}

.withdrawer {
    height: 10px;
    width: 10px;
    background-color: indigo;
    border-radius: 80% 0;
    transform: rotate(45deg);
    border: solid;
}

.withdrawer::after {
    position: absolute;
    top: 36%;
    left: 36%;
    content: "";
    height: 3px;
    width: 3px;
    background-color: white;
    border-radius: 100% 0;
    transform: rotate(90deg);
}

.pipeline {
    height: 10px;
    width: 10px;
    background-color: darksalmon;
    transform: rotate(45deg);
    border: solid;
}

.testSuite {
    height: 10px;
    width: 5px;
    background-color: orangered;
    border: solid;
}

.testSuite::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 12px;
    background-color: orangered;
    border: solid;
    top: 29px;
    left: 18px;
}

.ticket0,
.ticket1,
.ticket2,
.ticket3,
.ticket4,
.ticket5 {
    height: 4px;
    border-left: solid 4px;
    border-right: solid 4px;
    border-bottom: solid transparent 5px;
    border-top: solid transparent 5px;
    margin: 0 8px;
}

.ticket0 {
    border-left-color: var(--color-player0);
    border-right-color: var(--color-player0);
}

.ticket1 {
    border-left-color: var(--color-player1);
    border-right-color: var(--color-player1);
}

.ticket2 {
    border-left-color: var(--color-player2);
    border-right-color: var(--color-player2);
}

.ticket3 {
    border-left-color: var(--color-player3);
    border-right-color: var(--color-player3);
}

.ticket4 {
    border-left-color: var(--color-player4);
    border-right-color: var(--color-player4);
}

.ticket5 {
    border-left-color: var(--color-player5);
    border-right-color: var(--color-player5);
}
